@charset "utf-8";
@import url("http://foo.com/foo.css");
@import "foo/bar.css" screen, print, other;

@namespace "http://www.w3.org/1999/xhtml";
@namespace svg url("http://www.w3.org/2000/svg");

@media screen, projection {
    foo.bar {
        baz: biz;
    }
}

/* A comment */

body > div,
svg|div#main .foo.bar.baz,
p[lang=en],
.foo-bar {
    font: bold 16px/1.618 "Trebuchet MS", sans-serif;
    color: #555;
    background: url(foo/bar.png);
}

.class {
    background: linear-gradient(#000, #fff) 0% 0%,
    linear-gradient(#333, #666) 50% 50%;
}
