/***************************************************************
* ---------------------------- TYPO
***************************************************************/
h1,h2,h3,h4,h5,h6 {
  /*text-shadow: 0 0 0.618em rgba(255,255,255,0.4);*/
}
h1 {
  font-style: normal;
  margin: 0 0 1em;
}

#menu ul li {
  font-family:Georgia,"Times New Roman",Times,serif;
  font-style: italic; font-weight: bold;
  text-shadow: 0 0 6px rgba(255,255,255,0.6);
  font-size: 1.618em;
  letter-spacing: -0.05em; text-align: center;
}
#menu a:link, #menu a:visited	{ color: #fff; text-decoration: none; }
#menu a:hover, #menu a:active	{ text-shadow: 3px 6px 6px rgba(0,0,0,0.8); }

#content h1{
  text-align: center;
}
#content p{
  text-align: justify;
}

.node h2{ color: #fff; line-height: 1; }
.node h2 a{ color: #fff; }

tbody td, tbody th{ border: 1px solid #333; }
thead, tfoot{
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
thead{
  background: -moz-linear-gradient(center top , #333 0%, #000 75%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(0.75, #000));
}
tfoot{
  background: -moz-linear-gradient(center top , #000 25%, #333 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, #000), color-stop(1, #333));
}

table table { margin-bottom: 0; }
table table td, table table th { border: none; }


/***************************************************************
* ---------------------------- LAYOUT
***************************************************************/

/* Header
-------------------------------------------------------------- */
#toolbar{
  width: 100%; height: 42px;
  position: absolute;
  top: 33px;
}
  .languageSwitch{
    display: block; width: 30px; height: 20px;
    position: absolute; top: 16px;
    background: transparent url("/images/lfm/icons/flags.png") no-repeat;
  }
  #languageSwitch-fr{
    left: 50px;
    background-position: 0 top;
  }
  #languageSwitch-en{
    left: 90px;
    background-position: -32px top;
  }
  #toolbarSearch{
    position: absolute;
    top: 14px; left: 675px;
  }

  .searchForm{
    background: transparent url(/images/lfm/layout/searchbox.jpg) no-repeat left top;
  }
    .searchForm fieldset {
      border: none;
      width: 216px;
      margin: 0; padding: 0;
    }
      .searchForm label {
        font-weight: normal; font-style: italic;
        color: #999;
      }
      .searchForm input, .searchForm button {
        border: none; float: left;
        overflow: hidden;
        background: transparent;
      }
      .searchForm input.searchInput {
        color: #999;
        width: 182px; height: 22px;
        padding: 2px 4px;
      }
      .searchForm button.searchSubmit {
        width: 26px; height: 26px;
        cursor: pointer; text-indent: -9999px;
      }


/* Breadcrumb
-------------------------------------------------------------- */
#breadcrumb{
  clear: both;
  margin: 0 30px; padding: 14px 20px;
  font-size: 1em; font-weight: bold;
  color: #fff;
}
  ul.lfm-breadcrumb li {
    float:left;
    line-height: 24px;
  }
    ul.lfm-breadcrumb li div { float:left }
    ul.lfm-breadcrumb li div.lfm-breadcrumb-link { padding: 0 8px; }
    ul.lfm-breadcrumb li div.lfm-breadcrumb-arrow{
      /* Draw a right arrow */
      font-size: 0px; line-height: 0%; width: 0px;
      border-top: 12px solid #262626;
      border-left: 11px solid #161616;
      border-bottom: 12px solid #262626;
    }
    ul.lfm-breadcrumb li:nth-child(odd) div,
    ul.lfm-breadcrumb li.odd div{
      background: #161616;
    }
    ul.lfm-breadcrumb li:nth-child(even) div,
    ul.lfm-breadcrumb li.even div{
      background: #262626;
    }
    ul.lfm-breadcrumb li:nth-child(even) div.lfm-breadcrumb-arrow,
    ul.lfm-breadcrumb li.even div.lfm-breadcrumb-arrow{
      border-top-color: #161616;
      border-left-color: #262626;
      border-bottom-color: #161616;
    }
    ul.lfm-breadcrumb li.lfm-breadcrumb-first div{
      background: #000;
    }
    ul.lfm-breadcrumb li.lfm-breadcrumb-first div.lfm-breadcrumb-link {
      padding: 0 4px;
    }
    ul.lfm-breadcrumb li.lfm-breadcrumb-first div.lfm-breadcrumb-arrow{
      border-left-color: #000;
    }
    ul.lfm-breadcrumb li.lfm-breadcrumb-last div.lfm-breadcrumb-arrow{
      border-top-color: #000;
      border-bottom-color: #000;
    }



/* Footer
-------------------------------------------------------------- */
#channels{
  position: absolute;
  top: 50%; margin-top: -16px;
}
  #channels ul li{
    float: left;
    margin: 0 4px;
  }
    #channels ul li a{
      display: block;
      width: 32px; height: 32px;
      background: url(/images/lfm/icons/chan-icons.png) no-repeat left top;
    }
    #channels ul li a#chan-feed{

    }
    #channels ul li a#chan-youtube{
      background-position: -32px top;
    }
    #channels ul li a#chan-dailymotion{
      background-position: -64px top;
    }
    #channels ul li a#chan-picasa{
      background-position: -96px top;
    }
    #channels ul li a#chan-flickr{
      background-position: -128px top;
    }
    #channels ul li a#chan-facebook{
      background-position: -160px top;
    }
    #channels ul li a#chan-myspace{
      background-position: -192px top;
    }
    #channels ul li a#chan-email{
      background-position: -224px top;
    }
      #channels ul li a span{
        display: none;
      }

/* Sidebar
-------------------------------------------------------------- */
#sidebar-content h3{
  border-bottom: 1px solid #666;
  text-shadow: 0 0 0.618em rgba(255,255,255,0.6);
}
#sidebar a{
  text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}
#sidebarSearch, #sidebar ul{
  margin: 0 0 1.618em 0;
}
#sidebar-content ul{ list-style: none; }
#sidebar-content li{ display: inline; line-height: 1; }
#sidebar-content ul#related-entries {
  margin-left: 1em;
  list-style: disc outside none; color: #999;
}
#sidebar-content #related-entries li{ display: list-item; }

ul.tag-cloud { text-align: center; }
ul.tag-cloud .smaller{ font-size:12px; }
ul.tag-cloud .small{ font-size:14px; }
ul.tag-cloud .normal{ font-size:16px; }
ul.tag-cloud .big{ font-size:18px; }
ul.tag-cloud .bigger{ font-size:20px; }



/***************************************************************
* ---------------------- SPECIFIC STYLES
***************************************************************/
/* Icons
-------------------------------------------------------------- */
.read-more, a#add-comment-trigger,
.taxonomy
{
  padding-left: 24px;
  line-height: 24px;
  background: url("/images/lfm/icons/24x24/icons-v.png") no-repeat left top;
}

.read-more{
  background-position: 0 -48px;
}
.taxonomy.mediums{
  background-position: 0 -72px;
}
.taxonomy.tags{
  background-position: 0 -94px;
}
.taxonomy.permalink{
  background-position: 0 -118px;
}
a#add-comment-trigger{
  display: block;
  background-position: 0 -144px;
}
.taxonomy.comments{
  background-position: 0 -168px;
}
.taxonomy.members{
  background-position: 0 -192px;
}
/* Homepage
-------------------------------------------------------------- */
.latest-entries{
  margin: 2.615em 0;
}
.latest-entries h2{
  border-bottom: 1px solid #666;
}
.latest-entries ul{
  margin: 0;
}
  .latest-entries ul li, .latest-entries p{
    margin-top: 1.382em;
    border-bottom: 1px solid #222;
  }

  .latest-entries ul li h3 a{
    color: #fff;
  }

.latest-entries .read-more{
  font-style: italic; font-weight: bold;
  float: right;
}
/* Articles
-------------------------------------------------------------- */
.pager{
  margin-top: 1.618em;
  font: italic bold 1.308em Georgia, serif;
  text-align: center;
}
  .pager ul{
    margin: 0;
  }
    .pager ul li{
      display: inline;
    }
      .pager ul li a{
        padding: 3px 5px;
        margin: 0 3px;
      }

.node {
  padding: 1.618em 0;
}
.node.list{
  border-bottom: 1px solid #222;
}

  .node-header { position: relative }

    .calendar{
      position: relative; float: left;
      width: 64px; height: 96px;
      margin: -8px 8px 8px 0;
      font: italic bold 18px/32px Georgia,serif;
	    text-align: center; color: #fff;
	    background: url(/images/lfm/icons/calendar-test.png) no-repeat;
    }
    .calendar .cal-month{
      position: absolute; top: 8px;
      width: 100%; height: 24px;
    }
    .calendar .cal-day{
      position: absolute; top: 32px;
      width: 100%; height: 32px;
      font-size: 24px; color: #000;
      font-style:normal;
    }
    .calendar .cal-year{
      position: absolute; top: 64px;
      width: 100%;
      font-size: 22px;
    }

    .node-header h2{
      margin: 0 0 0.236em;
      color: #fff;
      line-height: 1;
    }
    .node-header h2 a{
      color: #fff;
    }

    #archives .node-header h2,
    #news .node-header h2,
    .node-header address
    {
      margin-left: 72px;
    }

    .node-header address{
      font-weight: bold;
      margin: 0;
    }
    .node-header address span.at{
      color: #c00;
    }
    .node-header address .address{
      font-weight: normal;
    }

    .avatar{
      float: left;
      margin-right: 8px;
    }

  .node .abstract, .node .node-content{
    clear: left;
  }

/* Taxonomy
-------------------------------------------------------------- */
.taxonomy{
  font-style: italic;
}
/* Comments
-------------------------------------------------------------- */
#comments-header span.nb-comments{
  font: italic bold 1em Georgia,serif;
  letter-spacing:-0.05em;
  text-shadow:0 0 1em #FFFFFF;
}


#comments ul{ list-style: none; }
#comments ul li { margin: 0 0 1.618em; }

/*Tooltip and Pointer CSS*/
.bubble {
  position: relative;
	padding: 0.618em;
	z-index: 9999;
	background: #000;
  border: 2px solid #333;
  border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;
}
.bubble .bubble-pointer-outer,
.bubble .bubble-pointer-inner {
	position: absolute;
	width:0; height:0;
	border-bottom-width: 0;
	background: none;
}
/*pointer alignment*/
.bubble .bubble-pointer-outer {
	border-left: 0;
	border-right: 17px dotted transparent;
	border-top: 14px solid #333;
	bottom:	-14px;
	right: auto; left: 44px;
	margin: 0;
}
.bubble .bubble-pointer-inner {
	border-left: 0;
	border-right: 12px dotted transparent;
	border-top: 10px solid #000;
	bottom:	auto;
	top: -14px;
	left: 2px;
}
.comment-info{
  margin-top: 8px;
  font-style: italic;
}
.comment-info img{
  vertical-align: middle;
}

/* Projects
-------------------------------------------------------------- */
.project-logo{
  text-align: center;
}

/* Members
-------------------------------------------------------------- */
#members.members-show .node-content .bio{
  margin-bottom: 1.618em;
}
.members-show .node-content{
  clear: none;
}
.members-show .taxonomy, .members-show .widgets{
  clear: both;
}
/* Widgets
-----------------*/
.widgets h3{
  text-align: left;
  border-bottom: 1px solid #333;
}
.lfmwidget .node{
	padding: 0.618em 0;
}
.lfmwidget .venue{ font-weight: normal; }
.lfmwidget.myspacegigs .calendar{
	height: 66px;
}

/*********************************
* ----- ERROR
*********************************/
#default.default-error404 h1{
  text-align: left;
}
#default.default-error404 img{
  float: left;
  margin: 0 1em 1em 0;
}

